/* Styles ============================================================================== */

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Oswald);

/* Imports */
@import "variables";
@import "typography";

/* Base */
body {
  background: $main-background-color;
  font-family: $primary-font;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-color;
}

/* Mixins */
@mixin mobile {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
